body{
  font-size: 16px;
  color: white;
  background-color: #121212;
  font-family: sans-serif;
}


.container{
  width:95%;
  padding-top: 0%;
  margin-top: 0%;
  position: relative;
}

.header {
  display: block;
  padding: 2em;
  font-size: 20px;
  background-color: #181818;
  color: #FFFFFF;
  overflow:hidden;
}


.mission-image{
  border:2px solid #EEEEEE;
  border-radius: 20px;
  width: 90%;
}

.main{
  margin-top: 3em;
}

.value-chooser{
  margin: 2% 0;
  text-align: center;
  font-size: 0.8em;
  background-color: #404040;
  border: 1px solid #eeeeee;
  border-radius: 1em;
}

.text-error{
  background-color: tomato;
  border: 1px solid red;
  
}

.box-error{
  filter: invert(100%) hue-rotate(18deg) brightness(1.7);

}

.x-textinput{
  width: 75%;
  height: 20px;
  margin: 2% 0;
}

.buttons{
  margin-top: 3%;
}
.buttons::before{
  content: "";
  display:block;
  height:2px;
  width:60px;
  margin: 0 auto 4%;
  background-color: #404040;
}

.button{
  height: 2rem;
  width: 8rem;
  font-family:  Helvetica, Arial, sans-serif;
  background-color: #41c9ff;
  color: black;
}
.button:hover{
  background-color: #2623ff;
}
.content-plate{
  padding: 0 0 20px;
  vertical-align: top;
  background-color: #282828;
}

.plate-top {
  display: inline-block;
  width: 100%;
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
  text-align: center;
  color: #FFFFFF;
  background-color: #404040;
}
.plate-top-title{
  font-size: 18px;
  font-weight: normal;
}
.image-container{
  text-align: center;
}
.labels{
  float:left;
}

#table-plate {
  float: right;
  margin: 0 0 0 40%;
  position: absolute;
  height: auto;
  min-width: 63%;
  border: 2px solid #EEEEEE;
  border-bottom: none;
}
#graph-plate{
  margin-right: 1%;
  position: relative;
  max-width: 16em;
  float: left;
  border: 2px solid #EEEEEE;
}
#values-plate{
  border: 2px solid #EEEEEE;
  max-width: 16em;
}

.scroll-container {
  position: absolute;
  bottom: 0;
  right: 0;
  top: 54px;
  width: 100%;
  min-height: 30%;
  height: auto;
}


#result-table{
  width: 100%;
  text-align: center;
  border-collapse: collapse;
}

#result-table tr{
  height: 2em;
}
#result-table tr:nth-child(2n-1) {
  background-color: #181818;
}

#result-table tr:nth-child(2n):hover {
  background-color: #e9e9e9;
}

#result-table tr:nth-child(2n-1):hover {
  background-color: #bbaad8;
}

#result-table tr.table-header:hover {
  background-color: #c8b5e9;
}
.coords-col {
  width: 12%;
}

.time-col {
  width: 25%;
}

.left-aligned {
  float: left;
}

.right-aligned {
  float: right;
}

.color-changer{
  float:right;
  background-color: #181818;
}

.y-label{
  float:left;
  margin: 0.8em 0 0 0.8em;
}
.y-checkbox-table{
  text-align: right;
  margin-left: auto;
  margin-right: 30px;
}