*{
    margin: 0;
    padding: 0;
}
ul{
    list-style-type: none;
}
main{
    width: 80%;
    margin: auto;
}
body{
    color: white;
    font-size: 16px;
    font-family: Work Sans;
    background-color: #1a1a1a;
}
.header{
    color: white;
    background-color: #0f0f0f;
    overflow: hidden;
}
.header_left{
    float: left;
    display:inline-grid;
    grid-template-columns: 40% 80%;
    
}
.header_left_text{
    padding-top: 20px;
    padding-bottom: 10px;
}

.header_right {
    float: right;
    display: grid;
    grid-template-rows: 20% 40%;
}
.header_right h3{
    padding-top: 20px;
    padding-bottom: 10px;
}

.main {
    padding-top: 5%;
    display: grid; 
    grid-template-columns: 1.5fr 1fr 1fr; 
    grid-template-rows: 1fr 1fr; 
    gap: 20px 60px; 
    grid-template-areas: 
    "graph result result"
    "main-container__item_left-column__item result result"; 
  }
  
  .graph { 
    padding: 5%;
    grid-area: graph; 
    border-radius: 5%;
    background-color: #0f0f0f;
    }
  
  .input-form { 
      grid-area: input-form; 
      display: flex;
      justify-content: space-between;
      width: 60%;
      margin: 15px auto;
      border: 1px solid black;
      text-align: center;
      font-size: 14px;
    }
  
  .result{ 
        grid-area: result;
        border: 1px solid black;
    }
  .input-form-X-checkbox {
    display:flex;
    flex-direction: row-reverse;

  }
  .label{
      float:left;
  }

  .input-form__label{
      display: inline-block;
      min-width: 30px;
      margin-right: 0;
      color: #87DCFF;
  }
  .label-form__control{
      flex-grow: 1;
      min-width: 5px;
  }
  .input-form__button-list-r{
      
      margin-top: 0;
      margin-bottom: 0;
      padding: 0 5px;
  }
